/*This is the first webpage I've ever created. It ain't perfect, but its mine*/


header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}


/*The class defining header link properties and values*/
.header-link {
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
  opacity: 0.85;
}

#apps-icon {
  fill: #5f6368;
  opacity: 1;
}

main {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*The Id of the searchbox container and its children*/
#searchbox {
  border-radius: 22px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  display: flex;
  height: 44px;
  min-width: 410px;
  max-width: 530px;
  align-items: center;
  margin-top: 30px;
  width: 62%;
  padding: 0 18px 0 18px;
}

#searchbox input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15.66666px;
  width: 100%;
  height: 80%;
  border: none;
  padding-left: 10px;
}

#searchbox input:focus {
  outline: none;
}

.searchbox-icons {
  width: 24px;
  height: 24px;
}

#searchbox svg {
  fill: rgba(117, 117, 117, 1);
}


/*The ID of the favourites container
(the stuff under the searchbox) and its children*/
#favourites {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fav-button {
  padding: 15px;
  margin: 12px 12px 32px 12px;
}

.fav-button:hover {
  background-color: rgb(241, 243, 244);
  border-radius: 5px;
}

.fav-button:hover .fav-image {
  background-color: rgba(32, 33, 36, 0.06);
}

.fav-button a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(60, 60, 60);
}

.fav-image {
  background-color: rgb(241, 243, 244);
  padding: 13px;
  width: 24px;
  height: 24px;
  margin-bottom: 15px;
  border-radius: 100%;
}

.fav-image img {
  width: 100%;
  height: 100%;
}

.fav-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/*The ID of the customise button container and its children
(found in the lower right-hand corner of the page)*/
#customise-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 22px;
  border: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  background-color: white;
  fill: rgb(26, 115, 232);
  color: rgb(26, 115, 232);
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#customise-button svg {
  width: 17px;
  padding-right: 7px;
}


#customise-button:hover {
  background-color: rgb(232, 240, 254);
}

/*The Id of the footer container and its children*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 72%;
  margin-left: 15%;
}



#footer-text {
  border: solid 1px rgb(218, 220, 224);
  border-radius: 22px;
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  color: rgba(138, 138, 138, 1);
  background-color: white;
  font-size: 13px;
}

#footer-text a {
  text-decoration: none;
  color: rgb(17, 85, 204);
}


/*the media queries*/


/*Customise button queries*/
@media screen and (max-width: 600px) {

  #customise-button {
    padding: 1px 5px;
  }

  #customise-button span {
    display: none;
  }
  #customise-button svg {
    padding-right: 0;
  }
}


/*Footer queries*/

@media screen and (max-height: 600px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  footer {
    display: none;

  }
}